body {
  font-family: Arial, sans-serif;
  background-color: #f6f7fb;
  color: #111;
  margin: 0;
}

header, footer {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #ddd;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

h1 {
  color: #0b3a75;
  margin: 5px 0;
}

h2 {
  color: #0b3a75;
  border-bottom: 2px solid #ffd166;
  font-size: 22px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  border: 1px solid #ddd;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

#special {
  border: 2px solid #0b3a75;
  background-color: #eef6ff;
}
